.contact {
  position: relative;
  margin-top: 4rem;

  &__box {

    & h3 {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    @media (min-width: $tablet-size) {
      padding: 1.5rem;
      width: 200px;
      position: absolute;
      top: -40px;
      right: 10%;
      background-color: #f4fbf9;
      box-shadow: 5px 9px 17px -7px rgba(0, 0, 0, 0.23)
    }
  }
}
