.contact {
  position: relative;
  margin-top: 4rem;

  &__box {

    & h3 {
      margin-top: 0;
      margin-bottom: 1rem;
    }




    @media (min-width: $tablet-size) {
      padding: 1.5rem;
      width: 200px;
      position: absolute;
      top: -15px;
      right: 10%;
      background-color: #f7fcfa;
      box-shadow: 6px 0 23px -10px rgba(0, 0, 0, 0.72);
    }
  }
}
