.footer {
  color: white;
  background-color: $primary-color;
  padding-top: 2rem;
  padding-bottom: 2rem;


  &__wrapper {
    @media (min-width: $tablet-size) {
      display: flex;
      justify-content: space-between;
    }
  }


  &__col1 {
    display: none;
    @media (min-width: $tablet-size) {
      display: block;
      flex: 0 0 100px;
    }
  }

  &__col2 {
    flex: 1;
    @media (min-width: $tablet-size) {
      padding-left: 1rem;
    }
  }

  &__col3 {
    flex: 1;


  }

  & a {
    color: white;
  }

}
