.header {

  @media (min-width: $tablet-size) {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  & p {
    margin: 0;
  }

  &__brand {
    display: none;

    @media (min-width: $tablet-size) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 100px;
    }

    &--lg {
      display: none;

      @media (min-width: $tablet-size) {
        display: flex;
        flex: 0 0 130px;
      }
    }
  }

  &__logo {
    flex: 0 0 40px;

    @media (min-width: $tablet-size) {
      flex: auto;
    }
  }

  &__info {
    width: 100%;
  }

  &__info-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  &__info-subtitle {
    color: #65b38d;
    padding-top: 1rem;

    @media (min-width: $tablet-size) {
      padding-left: 1rem;
      padding-top: 0;
      padding-bottom: 0.5rem;
    }
  }

  &__info-title {

    color: #529375;


    @media (min-width: $tablet-size) {
      padding-left: 1rem;
      font-size: 1.8rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }

  }

  &__info-wrapper {
    @media (min-width: $tablet-size) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }
}
