.header {

  @media (min-width: $tablet-size) {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  & p {
    margin: 0;
  }

  &__brand {
    display: none;

    @media (min-width: $tablet-size) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 100px;
    }

    &--lg {
      display: none;

      @media (min-width: $tablet-size) {
        display: flex;
        flex: 0 0 130px;
      }
    }
  }

  &__logo {
    flex: 0 0 40px;

    @media (min-width: $tablet-size) {
      flex: auto;
    }
  }

  &__info {
    width: 100%;
  }

  &__info-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @media (min-width: $tablet-size) {
      width: auto;
    }
  }

  &__info-subtitle {
    color: #65b38d;
    padding-top: 1rem;

    @media (min-width: $tablet-size) {
      padding-left: 1rem;
      padding-top: 0;
      padding-bottom: 0.5rem;
    }
  }

  &__info-title {
    color: #529375;

    @media (min-width: $tablet-size) {
      padding-left: 1rem;
      font-size: 1.8rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  &__info-wrapper {

    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    padding-top: 1rem;

    @media (min-width: $tablet-size) {
      flex-wrap: nowrap;
    }

  }

  &__info-contact {
    @media (min-width: $tablet-size) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__info-tel {

    & a {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__info-address {
    margin-bottom: 0.3rem;
  }

  &__info-work {
    text-align: center;
  }

  &__info-counter {
    position: relative;
    @media (min-width: $tablet-size) {

      margin-right: 5rem;

    }
  }

  &__info-num-container {
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    width: 2.6rem;
    height: 2.6rem;
    border: 2px solid $primary-color;
    border-radius: 50%;
    line-height: 2.6rem;
    text-align: center;
    color: $primary-color;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: auto!important;
    margin-left: auto!important;
  }
}
