.navigation {
  background-color: $primary-color;
  position: sticky;
  top: 0;
  z-index: 10;
  order: -1;
  box-shadow: 0 9px 8px -7px rgba(0, 0, 0, 0.23);

  @media (min-width: $tablet-size) {
    margin-bottom: 3rem;
    order: 0;
  }

  & a {
    color: white;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;

    @media (min-width: $tablet-size) {
      padding: 0;
    }
  }

  &__logo {
    margin-bottom: -3px;

    @media (min-width: $tablet-size) {
      display: none;
    }
  }

  &__toggler {
    display: block;
    background-color: transparent;
    border: 1px solid $secondary-color;
    border-radius: 3px;
    z-index: 10;
    margin-top: 4px;
    margin-bottom: 4px;

    @media (min-width: $tablet-size) {
      display: none;
    }

    &-bar1,
    &-bar2,
    &-bar3 {
      display: block;
      width: 35px;
      height: 5px;
      background-color: $secondary-color;
      margin: 6px 0;
      transition: 0.4s;
    }

    .js-change &-bar1 {
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .js-change &-bar2 {
      opacity: 0;
    }

    .js-change &-bar3 {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    max-height: 0;
    overflow: hidden;
    margin: 0 -15px;


    @media (min-width: $tablet-size) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin-top: 0;
      max-height: 1000px;
      margin-bottom: 0;
    }

    transition: all 0.7s;

    &.opened {
      margin-top: 0;
      max-height: 1000px;
    }
  }

  &__link {
    color: $primary-color;
    display: block;
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.7rem 15px;
    border: 1px solid $primary-color;

    &:hover {
      border: 1px solid #b4eed7;
    }

    &--active {
      background-color: $menu-hover-color;
      border: 1px solid $menu-hover-color;
    }

    @media (min-width: $tablet-size) {
      text-align: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &__item {
    @media (min-width: $tablet-size) {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;
      text-align: center;
      align-items: center;
      padding: 0;
    }
  }
}
