.pagination {
  &__list {
    padding: 0;
    display: flex;
    list-style: none;

  }

  &__link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $primary-color;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    text-decoration: none;
  }

  &__link:hover {
    background-color: $secondary-color;
  }

  &__link--active {
    background-color: $primary-color;
    color: #ffffff;
  }
}
