$primary-color: #4d9a7b;
$secondary-color: #b4eed7;
$menu-hover-color: #82ae98;
$tablet-size: 768px;
$desktop-size: 1200px;

* {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-width: 100%;
  box-sizing: border-box;
}

//@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../css/odometer-theme-default.css";
@import "block/normalize";
@import "block/header";
@import "block/navigation";
@import "block/content";
@import "block/news";
@import "block/pagination";
@import "block/bread-crumb";
@import "block/contact";
@import "block/footer";


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 0.3rem;
  margin-bottom: -0.15rem;

  &--no-margin {
    margin-right: 0;
  }
}

a {
  transition: all 0.5s;
  color: $primary-color;
}

a:hover {
  text-decoration: none;
}

a[href$=".pdf"]::before,
a[href$=".doc"]::before,
a[href$=".zip"]::before {
  width: 19px;
  height: 19px;
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 3px;
  padding: 11px;
  background-position: center;
}

a[href$=".pdf"]::before {
  background-image: url("../img/document-file-pdf.svg");
}

a[href$=".doc"]::before {
  background-image: url("../img/file-word.svg");
}

a[href$=".docx"]::before {
  background-image: url("../img/file-word.svg");
}

a[href$=".zip"]::before {
  background-image: url("../img/file-zip.svg");
}

.user-content {
  & p,
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  & img {
    width: 100%;
    height: auto;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  max-width: 2560px;
  margin: 0 auto;
}

address {
  font-style: inherit;
  margin-bottom: 1rem;
}

.title {
  margin-top: 0;
}

table {
  word-break:break-all;
}
